// screens
$breakpoints: (
  sm: 767px,
  md: 991px,
  lg: 1100px,
);

// mobileScreen
@mixin smMin {
  @media (min-width: map-get($breakpoints,sm)) {
    @content;
  }
}

@mixin smMax {
  @media (max-width: map-get($breakpoints,sm)) {
    @content;
  }
}

//midScreen
@mixin mdMin {
  @media (min-width: map-get($breakpoints,md)) {
    @content;
  }
}

@mixin mdMax {
  @media (max-width: map-get($breakpoints,md)) {
    @content;
  }
}

::-webkit-scrollbar {
  width: 0.4375rem;

  &-track {
    background-color: transparent;
  }

  &-thumb {
    background-color: transparent;

    &:hover {
      background-color: transparent;
    }
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &:focus {
    outline: none;
  }
}

html {
  font-size: 16px;

  @include mdMax {
    font-size: 14px;
  }

  @include smMax {
    font-size: 12px;
  }
}

body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: stretch;

  @include smMax {
    flex-direction: column;
  }
}

.output-container {
  position: relative;
  background-color: rgba(0, 0, 0, 0.08);
  margin: 0.5rem;
  padding: 0.5rem;

  .buttons {
    position: absolute;
    top: 0;
    right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    button {
      background-color: #4caf50;
      border: none;
      color: white;
      padding: 0.5rem 1rem;
      text-align: center;
      text-decoration: none;
      font-size: 1rem;
      margin-top: 1rem;
      cursor: pointer;
      text-transform: capitalize;

      &:hover,
      &:active {
        background-color: #3e8e41;
      }
    }

    #output {
      overflow: auto;
    }
  }
}

#input,
.output-container {
  font-size: 1rem;
  font-family: monospace;
  flex: 1 1 50%;
  margin: 0.5rem;
  padding: 0.5rem;
  min-height: 25rem;
  min-width: 50%;
}

#input {
  resize: none;
}
