// screens
$breakpoints: (
  sm: 47.9375rem,
  md: 61.9375rem,
  lg: 68.75rem,
);

// mobileScreen
@mixin smMin {
  @media (min-width: map-get($breakpoints,sm)) {
    @content;
  }
}

@mixin smMax {
  @media (max-width: map-get($breakpoints,sm)) {
    @content;
  }
}

//midScreen
@mixin mdMin {
  @media (min-width: map-get($breakpoints,md)) {
    @content;
  }
}

@mixin mdMax {
  @media (max-width: map-get($breakpoints,md)) {
    @content;
  }
}

::-webkit-scrollbar {
  width: 0.4375rem;

  &-track {
    background-color: transparent;
  }

  &-thumb {
    background-color: transparent;

    &:hover {
      background-color: transparent;
    }
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &:focus {
    outline: none;
  }
}

html {
  font-size: 1rem;

  @include mdMax {
    font-size: 0.875rem;
  }

  @include smMax {
    font-size: 0.75rem;
  }
}

body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: stretch;

  @include smMax {
    flex-direction: column;
  }

  &.dark-mode {
    background-color: #333;
    color: #fff;
  }
}

.output-container {
  background-color: rgba(0, 0, 0, 0.08);
  margin: 0.5rem;
  padding: 0.5rem;
  position: static;

  @include smMax {
    position: relative;
  }

  .buttons {
    position: absolute;
    top: 0;
    right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    button {
      background-color: #4caf50;
      border: none;
      color: white;
      padding: 0.5rem 1rem;
      text-align: center;
      text-decoration: none;
      font-size: 1rem;
      margin-top: 1rem;
      cursor: pointer;
      text-transform: capitalize;

      &:hover,
      &:active {
        background-color: #3e8e41;
      }
    }
  }

  #output {
    overflow: auto;
  }
}

#input,
.output-container {
  font-size: 1rem;
  font-family: monospace;
  flex: 1 1 50%;
  margin: 0.5rem;
  padding: 0.5rem;
  min-height: 25rem;
  min-width: 40%;
}

#input {
  resize: none;
}

/**
 * @Author: Ahmed Abdelfatah
 * @Date: 2023-04-10 20:53:56
 * @Desc: switch to dark mode
 */

.switch {
  position: relative;
  display: inline-block;
  width: 3.75rem;
  height: 2.125rem;
  margin-top: 1rem;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;

    &:before {
      position: absolute;
      content: '';
      height: 1.625rem;
      width: 1.625rem;
      left: 0.25rem;
      bottom: 0.25rem;
      background-color: #fff;
      transition: 0.4s;
    }
  }

  input:checked + .slider {
    background-color: #2196f3;
  }

  input:checked + .slider:before {
    transform: translateX(1.625rem);
  }
}
